<% if @post.nil? %>
  <p>
    There is no post with the ID: <%= params[:id] %> or it might not belong to the user with the ID: <%= params[:user_id] %>.
  </p>
<% else %>
  <section class="layout-container">
    <div class="post">
      <div class="post__header">
        <h3><%= @post.title %> &#35;<%= @post.id %> by <%= link_to @user.name, user_path(@user) %></h3>
        <small>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></small>  
      </div>
      <p class="post__description"><%= @post.text %></p>
    </div>
    <div class="post__comments">
      <%= render partial: 'comment', collection: @post.all_comments %>
    </div>
  </section>
<% end %>
