<div class="user__post">
  <h3>Post &#35;<%= post.id %>: <%= link_to post.title, user_post_path(user_id: post.author_id, id: post.id) %></h3>
  <p><%= post.text.length > 120 ? post.text[0..119] + "..." : post.text %></p>
  <small class="user_post-comments">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></small>
</div>