<% if @user.nil? %>
  <p>There's no user with the ID of: <%= params[:id] %>.</p>
<% else %>
  <section class="layout-container layout-container-user">
    <%= render partial: 'user', locals: { user: @user, name_as_link: false } %>
    <div class="user__bio">
      <h3 class="user__bio-title">Bio</h3>
      <p class="user__bio-description"><%= @user.bio %></p>
    </div>
    <section class="user__posts">
      <%= render partial: 'post', collection: @user.recent_posts %>
    </section>
    <% if @user.posts.length > 3 %>
      <%= link_to 'See all posts', user_posts_path(user_id: @user.id), class: "user__btn-posts" %>
    <% end %>
  </section>
<% end %>